.el-dialog__titlehtml, body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  background: #f0f2f5;
}

/* 重写 element menu 组件样式 */
.el-menu {
  background-color: #001529;
  border: none;
}

.el-menu .el-menu {
  background: #000c17;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, .45);
}

.el-submenu.is-opened .el-submenu__title {
  color: #ffffff;
}

.el-submenu__title:hover {
  background-color: transparent;
  color: #ffffff;
}


.el-menu-item:focus, .el-menu-item:hover {
  background: none;
}

.el-menu-item, .el-submenu__title {
  color: rgba(255, 255, 255, 0.65)
}

.el-menu-item:hover, .el-submenu__title:hover {
  color: #ffffff;
}

.el-menu-item:hover {
  background: transparent;
}

.el-menu-item.is-disabled, .el-menu-item .is-disabled {
  opacity: 0.6;
}

.el-menu-item .is-active, .el-menu-item.is-active {
  color: #ffffff;
  background: #1890FF;
}

.el-menu--popup {
  overflow: hidden;
  border-radius: 10px;
}

.el-menu--collapse .el-submenu, .el-menu--collapse .el-menu-item {
  text-align: center;
}

.el-card__header {
  padding: 10px 20px;
  font-size: 40px;
  font-weight: bold;
}


.el-dialog__body{
  padding: 20px;
}

.el-loading-spinner svg{
  display: inline-block!important;
}

.el-button:focus, .el-button:hover{
  outline: none;
}
.el-dialog__title {
  font-size: 20px;
  font-weight: bold;
}